/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */


	/* Smaller than standard 1400 (devices and browsers) */
	@media only screen and (min-width: 631px) and (max-width: 1355px) {

		nav {
			text-align: center;
			background: #EFEFEF;
			height: 90px;
			position: fixed;
			width: 100%;
			z-index: 1;
			line-height: 2.5;
		}

		img.scale-with-grid {
			max-width: 75%;
			height: auto;
			border: 1px solid #7995ae;
			border-radius: 15%;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 453px) and (max-width: 630px) {
		nav {
			text-align: center;
			background: #EFEFEF;
			height: 130px;
			position: fixed;
			width: 100%;
			z-index: 1;
			line-height: 2.5;
		}

		img.scale-with-grid {
			max-width: 55%;
			height: auto;
			border: 1px solid #7995ae;
			border-radius: 15%;
		}
		h3 { font-size: 30px; line-height: 36px; margin-bottom: 8px;
			padding-top: 95px;
		}

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 525px) {
		nav {
			text-align: center;
			background: #EFEFEF;
			height: 190px;
			position: fixed;
			width: 100%;
			z-index: 1;
			line-height: 2.5;
		}

		img.scale-with-grid {
			max-width: 60%;
			height: auto;
			border: 1px solid #7995ae;
			border-radius: 15%;
		}

	}



/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/@font-face {
		font-family: 'texgyreadventorregular';
		src: url('texgyreadventor-regular-webfont.eot');
		src: url('texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
				url('texgyreadventor-regular-webfont.woff') format('woff'),
				url('texgyreadventor-regular-webfont.ttf') format('truetype'),
				url('texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
		font-weight: normal;
		font-style: normal;

}
